*{
    margin: 0;
    padding: 0;
}
.warp{
    width: 100%;
    height: 100%;
}
.box{
    float: left;
    background: orange;
    width: 31%;
    height:31%;
    padding-bottom: 30%;
    margin:1%;
    border-radius: 15px;
}
.clear{
    clear: both;
}